<?xml version="1.0" encoding="UTF-8" ?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="mytemplate.xhtml">

    <ui:define name="content" id="content">
        <h:form id="blah">
            <p:commandButton ajax="false" value="GoToManageIniFile" action="ManageIniFile" immediate="true" />
        </h:form>

        <h2>#{tableBean.version}</h2>
        <h:form id="form3" styleClass="form">  
            <p:growl id="messages" showDetail="true"/>  
            <p:tabView id="tabView" dynamic="true" cache="false">
                <p:ajax event="tabChange" listener="#{tableBean.onTabChange}" />
                <p:tab id="sectionTab" title="Test1">
                    <p:dataTable id="cars" var="car" value="#{tableBean.carsSmall}" editable="true" editMode="cell" widgetVar="carsTable">  
                        <f:facet name="header">  
                            In-Cell Editing  
                        </f:facet>  

                        <p:ajax event="cellEdit" listener="#{tableBean.onCellEdit}" update=":form3:messages" />  
                        <p:column headerText="Model" >  
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{car.model}" /></f:facet>  
                                <f:facet name="input"><p:inputText id="modelInput" value="#{car.model}" style="width:96%"/></f:facet>  
                            </p:cellEditor>  
                        </p:column>  

                        <p:column headerText="Year">  
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{car.year}" /></f:facet>  
                                <f:facet name="input"><p:inputText value="#{car.year}" style="width:96%" label="Year"/></f:facet>  
                            </p:cellEditor>  
                        </p:column>  

                        <p:column headerText="Manufacturer" >  
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{car.manufacturer}" /></f:facet>  
                                <f:facet name="input">  
                                    <h:selectOneMenu value="#{car.manufacturer}" style="width:100%">  
                                        <f:selectItems value="#{tableBean.manufacturers}" var="man" itemLabel="#{man}" itemValue="#{man}" />  
                                    </h:selectOneMenu>  
                                </f:facet>  
                            </p:cellEditor>  
                        </p:column>  

                        <p:column headerText="Color">  
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{car.color}" /></f:facet>  
                                <f:facet name="input">  
                                    <h:selectOneMenu value="#{car.color}" style="width:100%">  
                                        <f:selectItems value="#{tableBean.colors}" var="color" itemLabel="#{color}" itemValue="#{color}" />  
                                    </h:selectOneMenu>  
                                </f:facet>  
                            </p:cellEditor>  
                        </p:column>  

                    </p:dataTable>  
                </p:tab>

                <p:tab id="sectionTab2" title="Test2">
                    stuff
                </p:tab>

            </p:tabView>


            <center>
                <h:commandButton value="Ajax h:commandButton" action="#{tableBean.doAction}" />
                <p:commandButton value="Ajax p:commandButton" process="@form" update="@form" action="#{tableBean.submitListener}" />
                <h:commandButton value="Ajax h:commandButton - no error" action="productdetails" >
                    <f:ajax execute="@form" />
                </h:commandButton>
            </center>

        </h:form>



    </ui:define>

</ui:composition>