<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <h:head>
        <link type="text/css" rel="stylesheet" href="#{request.contextPath}/javax.faces.resource/theme.css.jsf?ln=primefaces-#{themeBean.theme}" />
    </h:head>
    <h:body>
        <h:form styleClass="form" id="form1">
            <p:growl id="messages" showDetail="true"/>
            <p:tabView id="tabView" var="section" value="#{iniFile.sections}" dynamic="true" cache="false" >
                <p:ajax event="tabChange" listener="#{manageIniFile.onTabChange}" update=":form1:messages" />

                <p:tab id="sectionTab" title="#{section}">
                    <p:dataTable id="envEntries" var="entry" value="#{iniFile.openSection.entries}" editable="true" editMode="cell"  widgetVar="ent">
                        <p:ajax event="cellEdit" listener="#{manageIniFile.onCellEdit}" update=":form1:messages" />

                        <f:facet name="header">  
                            Manage Environments  
                        </f:facet>

                        <p:column headerText="Entry">
                            <h:outputText value="#{entry.entry}" />
                        </p:column>

                        <p:column headerText="Value">
                            <p:cellEditor>  
                                <f:facet name="output"><h:outputText value="#{entry.value}" /></f:facet>  
                                <f:facet name="input"><p:inputText value="#{entry.value}" style="width:96%" required="true"/></f:facet>  
                            </p:cellEditor>  
                        </p:column>
                    </p:dataTable>

                </p:tab>
            </p:tabView>
            <center>
                <h:panelGrid columns="2">
                    <p:commandButton ajax="false" type="submit" value="Save Data" styleClass="loginButton" id="saveFile" action="#{iniFile.saveData()}" />
                    <p:commandButton ajax="false" type="submit" value="Destroy Bean" styleClass="loginButton" id="destroyfile" action="#{manageIniFile.destroyApplicationBean()}" />
                </h:panelGrid>
            </center>
        </h:form>
    </h:body>
</html>