<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"   
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
       xmlns:f="http://java.sun.com/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions">
 
      
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <ui:insert name="contentTitle" />
        <pe:ajaxErrorHandler />
        <p:ajaxStatus style="width:16px;height:16px;" id="ajaxStatusPanel">  
            <f:facet name="complete">  
                <h:outputText value="" />  
            </f:facet>  
        </p:ajaxStatus>  
    </h:head>
 
    <h:body id="dummy">
        
	<div id="page">
 
	    <div id="header">
                <link type="text/css" rel="stylesheet" href="#{request.contextPath}/javax.faces.resource/theme.css.jsf?ln=primefaces-#{themeBean.theme}" />
		<ui:insert name="header" /> 
	    </div>
 
	    <div id="content">
	  	<ui:insert id="content" name="content" />
	    </div>
 
	    <div id="footer">
	    	<ui:insert name="footer" />
    	    </div>
 
        </div>
 
    </h:body>
</html>