<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <title>PrimeFaces</title>
            </f:facet>
        </h:head>

        <h:body>

            <h:form id="form" prependId="true">
                <p:panel id="dataPanel" closable="false" toggleOrientation="horizontal" toggleable="true" style="border: none; text-align: center;">
                    <p:dataGrid id="dataGrid" value="#{productDetailsManagedBean.cars}" var="row" rowIndexVar="rowIndex" rows="4" first="0" columns="1" paginator="true" paginatorAlwaysVisible="false" pageLinks="10" lazy="true" rowsPerPageTemplate="5,10,15">
                        <h:outputText value="#{row.color}"/>
                        <p:commandLink>
                            <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                            <f:setPropertyActionListener value="#{row.color}" target="#{productDetailsManagedBean.subCatName}" />
                        </p:commandLink>
                    </p:dataGrid>   
                </p:panel>
            </h:form>

            <h:form id="form2">
                <p:dataTable id="dataTable" var="row" value="#{productDetailsManagedBean.cars}"
                             sortMode="multiple"
                             sortOrder="descending"
                             rowKey="#{row.model}"
                             editMode="row">

                    <p:column id="id" headerText="Model" sortBy="model">
                        <h:outputText value="#{row.model}"/>
                    </p:column>

                    <p:column id="transporter" headerText="Color" sortBy="color">
                        <h:outputText value="#{row.color}"/>
                    </p:column>
                </p:dataTable>
            </h:form>
        </h:body>

    </f:view>
</html>

