<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
        xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>AJAX LISTENER</title>
</h:head>
<h:body>
    <h:form> 
        <h:inputText id="counter" >
            <p:ajax event="keypress" update="out" listener="#{testBean.increment}"/>
            
        </h:inputText> 
        <br/>  
             AJAX listes = <h:outputText id="out" value="#{testBean.count}" />
             
    <br/><br/>
              <h:messages/>
             <h:panelGroup id="afsd" >
                 
            <p:calendar id="popupButtonCal" value="#{testBean.cal}" required="true" pattern="dd/MM/yyyy" />
                
             </h:panelGroup>
              <p:commandButton ajax="false" value="submit" action="#{testBean.submit}" />
    </h:form>
</h:body>
</html>